@page "/localidades"
@inject IGenericService<Localidad> LocalidadService
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlert

<HeaderPage TitlePage="Localidades"/>

@if (localidades == null)
{
    <p><em>Obteniendo lista de localidades...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="AgregarLocalidad">Agregar Nueva Localidad</button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var localidad in localidades)
            {
                <tr>
                    <td>@localidad.Id</td>
                    <td>@localidad.Nombre</td>
                    <td>
                        <a href="/editarlocalidad?IdLocalidadEditada=@localidad.Id">Editar</a> 
                    </td>
                    <td>
                        <button title="Eliminar" class="btn btn-danger" @onclick="@(()=>Eliminar(localidad))">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Localidad>? localidades;

    protected override async Task OnInitializedAsync()
    {
        localidades = await LocalidadService.GetAllAsync();
    }
    private void AgregarLocalidad()
    {
        // Redirigir a la página para agregar una nueva localidad
        NavigationManager.NavigateTo("/nuevalocalidad");
    }

    private async Task Eliminar(Localidad localidad)
    {
        SweetAlertResult respuesta = await SweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Borrando Localidad",
                Text = $"¿Está seguro que desea borrar la localidad {localidad.Nombre}?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, quiero borrarla",
                CancelButtonText = "No, espera"
            });

        if (respuesta.IsConfirmed)
        {
            await LocalidadService.DeleteAsync(localidad.Id);
            localidades = await LocalidadService.GetAllAsync();
            StateHasChanged();
        }
    }
}
