@page "/localidades"
@inject IGenericService<Localidad> LocalidadService
@inject NavigationManager NavigationManager

<h3>Localidades</h3>

@if (localidades == null)
{
    <p><em>Obteniendo lista de localidades...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="AgregarLocalidad">Agregar Nueva Localidad</button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
                @* <th></th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var localidad in localidades)
            {
                <tr>
                    <td>@localidad.Id</td>
                    <td>@localidad.Nombre</td>
                    <td>
                        <a href="/editarlocalidad?IdLocalidadEditada=@localidad.Id">Editar</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Localidad>? localidades;

    protected override async Task OnInitializedAsync()
    {
        localidades = await LocalidadService.GetAllAsync();
    }
    private void AgregarLocalidad()
    {
        // Redirigir a la página para agregar una nueva localidad
        NavigationManager.NavigateTo("/nuevalocalidad");
    }
}
